<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <form @submit.prevent="submitForm">
        ID : <input type="text" v-model="customer.id" /><br />
        PWD : <input type="password" v-model="customer.pwd" /><br />
        PWD1 : <input type="password" /><br />
        NAME : <input type="text" v-model="customer.name" /><br />
        <button>가입</button>
      </form>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script>
      Vue.createApp({
        //옵션객체
        name: 'Singup',
        data() {
          return {
            customer: {
              id: 'id77',
              pwd: 'pwd77',
              name: 'TEST77',
            },
          };
        },
        methods: {
          submitForm() {
            const url = 'http://localhost:3000/signup';
            const requestData = this.customer; //요청전달데이터(JS객체)
            const requestJson = JSON.stringify(requestData); //JSON.stringify() : JS객체-> JSON문자열로 변환
            //JSON.parse() : JSON문자열 -> JS객체로 변환
            console.log(requestJson);
            const requestInit = {
              method: 'POST',
              body: requestJson,
              headers: {
                'Content-Type': 'application/json', //"multipart/form-data"
              },
            };
            fetch(url, requestInit)
              .then((res) => {
                return res.text();
              })
              .then((responseData) => {
                alert(responseData);
              })
              .catch((err) => {
                alert(err.message);
              });
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
